<div class="error">
<h1> ¡Ups! <i class="far fa-frown fa-1x"></i> </h1>
<p> <i class="fas fa-exclamation-triangle"></i> <%= descripcion %> <i class="fas fa-exclamation-triangle"></i></p>
<p> Visita nuestras redes sociales si quieres preguntar algo. (<%= status_code %>) </p>
</div>