<div class="card">
    <p><%= guardarropa.nombre %></p>
    <div class="action-btn">
    <%= link_to edit_guardarropa_path(guardarropa) do %>
        <i class="far fa-edit fa-2x"></i> 
    <% end %>

    <%= link_to guardarropa do%>
        <i class="far fa-eye fa-2x"></i>
    <% end %>

    <%= link_to guardarropa, method: :delete, data: { confirm: 'Estas Seguro?' } do%>
        <i class="far fa-trash-alt fa-2x"></i>
    <% end %>
    </div>
</div>