<% if(show) %>
<div>
        <th> <strong>Cabeza</strong> </th>
        <th> <strong>Torso</strong> </th>
        <th> <strong>Piernas</strong> </th>
        <th> <strong>Footh</strong> </th>
</div>
<%else%>
<h1></h1>
<% end %>
