<div>
  <div class="prendas-view">
    <table class="guardarropa">
         <tr>  <%= render 'atributos_atuendo', show: @atuendos.present? %> </tr>
        <% @atuendos.each do |g| %>
            <%= render 'atuendo', atuendo: g %>
        <%end%>
    </table>
  </div>
  <div class= "prendas-btn">
      <%= link_to "Crear Atuendo", new_atuendo_path%>
      
  </div>
</div>