<% if @guardarropa%>
<div>
  <div class="prendas-view">
    <table class="guardarropa">
      <tr>  <%= render 'atributos_atuendo', show: @atuendos.present? %> 
        <% @atuendos.each do |a| %>
            <%= render 'atuendo', atuendo: a, show_show: true %>
        <%end%>
        <% if @atuendos.count>=2%>
        <% end%>
       </tr>
    </table>
  </div>
    <div class="interact-btn">
        <%= link_to "Crear Atuendo", new_guardarropa_atuendo_path(params[:guardarropa_id])%>
        <%= link_to  "Volver", guardarropa_path(params[:guardarropa_id]) %>
    </div>
  </div>
</div>
<% else %>
estas viendo los atuendos de otra persona
<% end %>