<%if @atuendo%>
<div>
    <div class="prendas-view">
      <table class="tabla">

        <tr>  <%= render 'atributos_atuendo', show: true%> </tr>
        <tr>
            <%= render 'atuendo', atuendo: @atuendo, show_show: false %>
        </tr>
      </table>
    </div>
    <div class="interact-btn">
        <%= link_to  "Volver", guardarropa_atuendos_path(@atuendo.guardarropa) %>
    </div>
</div>
<% else %>
  <%= render  "errores/error", 
  descripcion: "¡No encontramos la pagina que esta buscando!",
  status_code: "401"
  %>
<% end %>