<section class="main-landing">
<div class="landing-content">
    <h1>Que me pongo</h1>
    <h2> vestite con nostros </h2>
    <%= link_to  "¡Empezá ahora!", guardarropas_path, {:class => "main-btn"} %>
</div>
</section>
<% content_for :servicios do %>

<section class="main-landing nosotros-landing">
    <h3>¿Para que sirve que me pongo?</h3>
    <p>Tu guardarropas al alcance de tu mano, interactua con todos tus guardarropas donde y cuando quieras</br>
    La manera mas divertida y facil de crear tus outfits es con <i>Que Me Pongo</i>. Armá tus atuendos </p>
</section>

<% end %>
