<div>
  <div class="prendas-view">
    <table class="guardarropa">
         <tr>  <%= render 'atributos_prenda', show: @prendas.present? %> </tr>
        <% @prendas.each do |p| %>
            <%= render 'prenda', prenda: p %>
        <%end%>
    </table>
  </div>
  <div class= "add-btn">
      <%= link_to "Agregar Prenda", new_prenda_path%>
  </div>
</div>