<div>
    <div class="prendas-view">
      <table class="tabla">

        <tr>  <%= render 'atributos_prenda', show: true%> </tr>
        <tr>
            <%= render 'prenda', prenda: @prenda, show_show: false  %>
        </tr>
      </table>
    </div>
    <div class="interact-btn">
        <%= link_to  "Volver", prendas_path %>
    </div>
</div>