/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300&display=swap');
body{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
#alert{
    display: none;
    height: 20px;
    color: white;
    font-family: 'Open Sans';
    font-size: 14px;
}
.alerta{
    background-color: #f7be55;;
}
a{
    text-decoration: none;
}
a:visited{
    color: white;
}
a:link{
    color: #ffffff;
}
.action-btn i{
    padding: 8px;
    color: white;
}
.action-btn i:hover{
    color:rgb(167, 167, 167);
}
.action-btn a{
    color: rgb(0, 0, 0);
}
.action-btn a:visited{
    color: rgb(0, 0, 0);
}
.interact-btn{
    margin-top: 1.5rem;
}

.interact-btn a,
.interact-btn input[type=submit]{
    border: none;
    text-decoration: none;
    font-family: "Open Sans";
    padding:15px;
    background-color: rgb(95, 95, 95);
    border-radius: 3px;
    text-align: center;
    transition: ease-in-out all 0.2s;
}
  
.interact-btn a:hover,
.interact-btn input[type=submit]:hover{
    background-color: rgb(78, 78, 78);
}
.shared-links:hover{
    text-decoration: underline;
}

