@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgba(76,76,76,0.87) 0%, rgba(44,44,44,0.92) 40%, rgba(44,44,44,1) 100%);
}



/* FORM */

.color-col{
    text-transform: uppercase;
}

.new-edit-form{
    text-align: center;
    padding: 20px;
    width: 30vw;
    box-sizing: border-box;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: 5px solid rgb(199, 195, 195);
    font-family: Arial, Helvetica, sans-serif;
}
input{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}
select, 
input[type=text]{
    text-align-last: center;
    width: 50%;
}
input[type="color"]{
    width: 60px;
    height: 35px;
}
input[type="submit"]{
    border-radius: 0;
    font-size: 1em;
    padding: 15px;
    background-color:rgb(65, 58, 65);
    color: white;
}
input[type="submit"]:hover{
    background-color: rgb(58, 53, 58);
    transition: all 0.2s linear;
    cursor: pointer;
} 
.radio{
    
    justify-content: center;
}
.radio label{
    text-transform: capitalize;
}
.search-form h1{
    font-family: "Open Sans", sans-serif;
    color: white;
}
.search-form .search-select{
    display: flex;
}
.search-form .search-select select{
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    padding: 10px;
    margin: 5px 5px 25px 0;
} 
.error{
    transition: background 0.3s ease-in-out;
    text-align: center;
    color: white;
    width: 60%;
    background: rgb(87, 87, 87);
    border-radius: 50px;
}
.error h1{
    font-size: 6em;
    font-family: 'Poppins', sans-serif;
}
.error p{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 890px){
    .new-edit-form{
        width: 75vw;
        height: auto;
        overflow-y: scroll;
    }
}